In [1]:
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

In [2]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 89.0.4389
[WDM] - Get LATEST driver version for 89.0.4389

[WDM] - Driver [C:\Users\kunaual\.wdm\drivers\chromedriver\win32\89.0.4389.23\chromedriver.exe] found in cache

## Get article titles and teaser text

In [3]:
url = 'https://redplanetscience.com/'
browser.visit(url)

In [4]:
html = browser.html  #get all the html
soup = BeautifulSoup(html, 'html.parser')

#testing output, see what to get
#print(soup.prettify())
 



#The below will get you *all* the titles and articles. The final requirements only have 1
# titles=[]
# teaser_texts=[]
# divs = soup.find_all('div')
# for div in divs:
#     #print(div['class'][0])  #this will get you content_title and article_teaser_body
#     if div['class'][0]=='content_title':
#         #print(div.text)
#         titles.append(div.text)
#     if div['class'][0]=='article_teaser_body':
#         #print(div.text)
#         teaser_texts.append(div.text)
#print(titles[0])
#print(teaser_texts[0])

title = soup.find('div', class_='content_title').get_text()
teaser_text = soup.find('div', class_='article_teaser_body').get_text()
print(title)
print(teaser_text)

Sensors on Mars 2020 Spacecraft Answer Long-Distance Call From Earth
Instruments tailored to collect data during the descent of NASA's next rover through the Red Planet's atmosphere have been checked in flight.

In [5]:
# NASA Invites Public to Share Excitement of Mars 2020 Perseverance Rover Launch
# There are lots of ways to participate in the historic event, which is targeted for July 30.

## Get featured image url

In [6]:
iurl = 'https://spaceimages-mars.com/'
browser.visit(iurl)

In [7]:
ihtml = browser.html
isoup = BeautifulSoup(ihtml, 'html.parser')

#checkout html output, looking for featured image 
#print(isoup.prettify())

# looking for this src:
# <img class="headerimage fade-in" src="image/featured/mars1.jpg">
img = isoup.find('img', class_="headerimage")
print(img['src'])
# 2 ways to do this... not that you'd want to write more code to do a thing
imgs = isoup.find_all('img')
for img in imgs:
    #print(img) #testing message
    try:
        if img['class'][0]=='headerimage':
            #print(img['src'])  #testing message
            featured_image_file = img['src']
            break   #header image will be towards the top, once found don't need to continue the loop
    except:  #if there's no class, continue to the next one
        continue

#concat the url to the image location
featured_image_url = iurl+img['src']#featured_image_file

image/featured/mars1.jpg

In [8]:
#check the url value
featured_image_url

'https://spaceimages-mars.com/image/featured/mars1.jpg'

## Get Mars facts

In [9]:
turl = 'https://galaxyfacts-mars.com/'

In [10]:
tables = pd.read_html(turl)
tables[1]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [11]:
mars_earth_df = tables[0]
mars_facts_df = tables[1]

In [12]:
mars_facts_df.rename(columns={0:"FACT_DESC",1:"FACT_VALUE"}, inplace=True)

In [13]:
mars_earth_df.rename(columns={0:"ATTRIBUTE",1:"MARS",2:"EARTH"}, inplace=True)
mars_earth_df

                 ATTRIBUTE             MARS            EARTH
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [14]:
#delete the 1st row which is more of a table header
mars_earth_df =mars_earth_df.drop(0)  
mars_earth_df  #not bothering to reindex because not keeping it in the html

            ATTRIBUTE             MARS            EARTH
1           Diameter:         6,779 km        12,742 km
2               Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3              Moons:                2                1
4  Distance from Sun:   227,943,824 km   149,598,262 km
5     Length of Year:   687 Earth days      365.24 days
6        Temperature:     -87 to -5 °C      -88 to 58°C

In [15]:
#push dfs to html files
mars_earth_df.to_html('mars_earth_comp.html', index=False)
mars_facts_df.to_html('mars_facts.html', index=False)

In [16]:
variable=mars_facts_df.to_html(index=False)
variable

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th>FACT_DESC</th>\n      <th>FACT_VALUE</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <td>Moons:</td>\n      <td>2 ( Phobos &amp; Deimos )</td>\n    </tr>\n    <tr>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

## Get hemisphere info

In [17]:
hurl = 'https://marshemispheres.com/'
browser.visit(hurl)
hemisphere_image_urls = []

In [18]:
html = browser.html  #get all the html
hsoup = BeautifulSoup(html, 'html.parser')

In [19]:
#need to get the list of 4 headers from main page and then loop through each.
list_of_subpages = []

a_itemlinks = hsoup.find_all('a', class_='itemLink')

for alink in a_itemlinks:
    #print(alink['href']) #testing output
    cur_href = alink['href']
    if 'html' in cur_href:
        #print('it does') #testing output
        if cur_href not in list_of_subpages:
            #print('add it!') #testing output
            list_of_subpages.append(cur_href)

list_of_subpages

['cerberus.html', 'schiaparelli.html', 'syrtis.html', 'valles.html']

In [20]:
for page in list_of_subpages:
    sub_url=hurl+page
    #print(sub_url) #testing output
    
    browser.visit(sub_url)
    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')
    #print(soup.prettify()) #testing output
    
    #looking for this <img class="wide-image" src="images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg"/>
    img = soup.find('img', class_='wide-image')
    title=soup.find('h2', class_='title').text.split(" Enhanced")[0]
    #print(hurl+img['src'])  #testing output
    hemis_dict = {}
    hemis_dict['title'] = title
    hemis_dict['img_url'] = hurl+img['src']
    #print(hemis_dict)  #testing output
    
    hemisphere_image_urls.append(hemis_dict)

    #another way to do this would've been to start in landing page, use a click to get to each subpage and then would use the below click to go back
    #browser.links.find_by_partial_text('Back').click()
    #break #testing break. got code working for 1st page then removed this

In [21]:
#check the dictionary is properly populated
hemisphere_image_urls


#testing output, see what to get
#print(hsoup.prettify())

#print(a_itemlinks.find('img'))
#img_info=a_itemlinks.find('img')

#this is getting the thumbnail off the main page
# hemis_dict = {}
# hemis_dict['title'] = img_info['alt'].split(" Enhanced")[0]
# hemis_dict['img_url'] = hurl+img_info['src']
# img_info['alt'].split(" Enhanced")[0]  #title!  yes, there are other ways to get this. could take if off 1st page too
# hurl+img_info['src']
#browser.links.find_by_partial_text('Back').click()

[{'title': 'Cerberus Hemisphere',
  'img_url': 'https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere',
  'img_url': 'https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere',
  'img_url': 'https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere',
  'img_url': 'https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]

In [23]:
hemis_dict
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere',
  'img_url': 'https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere',
  'img_url': 'https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere',
  'img_url': 'https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere',
  'img_url': 'https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]

In [24]:
browser.quit()