In [63]:
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

In [37]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 89.0.4389
[WDM] - Get LATEST driver version for 89.0.4389

[WDM] - Driver [C:\Users\kunaual\.wdm\drivers\chromedriver\win32\89.0.4389.23\chromedriver.exe] found in cache

## Get article titles and teaser text

In [3]:
url = 'https://redplanetscience.com/'
browser.visit(url)

In [30]:
html = browser.html  #get all the html
soup = BeautifulSoup(html, 'html.parser')

#testing output, see what to get
#print(soup.prettify())
 

titles=[]
teaser_texts=[]

divs = soup.find_all('div')
for div in divs:
    #print(div['class'][0])  #this will get you content_title and article_teaser_body
    if div['class'][0]=='content_title':
        #print(div.text)
        titles.append(div.text)
    if div['class'][0]=='article_teaser_body':
        #print(div.text)
        teaser_texts.append(div.text)



#titles = soup.find_all('h3')
#solution finds h3, as above 
#then does link=title.find('a')
#then href=link['href']
#then title=link['title']
# for title in titles:
#     print(f"Page:{x} ----------------")
#     print(title.a['title'])
#     print(title.a['href'])

## Get featured image url

In [38]:
iurl = 'https://spaceimages-mars.com/'
browser.visit(iurl)

In [61]:
ihtml = browser.html
isoup = BeautifulSoup(ihtml, 'html.parser')

#checkout html output, looking for featured image 
#print(isoup.prettify())

# looking for this src:
# <img class="headerimage fade-in" src="image/featured/mars1.jpg">

imgs = isoup.find_all('img')
for img in imgs:
    #print(img) #testing message
    try:
        if img['class'][0]=='headerimage':
            #print(img['src'])  #testing message
            featured_image_file = img['src']
            break   #header image will be towards the top, once found don't need to continue the loop
    except:  #if there's no class, continue to the next one
        continue

#concat the url to the image location
featured_image_url = iurl+featured_image_file

In [62]:
#check the url value
featured_image_url

'https://spaceimages-mars.com/image/featured/mars2.jpg'

## Get Mars facts

In [65]:
turl = 'https://galaxyfacts-mars.com/'

In [72]:
tables = pd.read_html(turl)
tables[1]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [100]:
mars_earth_df = tables[0]
mars_facts_df = tables[1]

In [101]:
mars_facts_df.rename(columns={0:"FACT_DESC",1:"FACT_VALUE"}, inplace=True)

In [102]:
mars_earth_df.rename(columns={0:"ATTRIBUTE",1:"MARS",2:"EARTH"}, inplace=True)
mars_earth_df

                 ATTRIBUTE             MARS            EARTH
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [104]:
#delete the 1st row which is more of a table header
mars_earth_df =mars_earth_df.drop(0)  
mars_earth_df  #not bothering to reindex because not keeping it in the html

            ATTRIBUTE             MARS            EARTH
1           Diameter:         6,779 km        12,742 km
2               Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3              Moons:                2                1
4  Distance from Sun:   227,943,824 km   149,598,262 km
5     Length of Year:   687 Earth days      365.24 days
6        Temperature:     -87 to -5 °C      -88 to 58°C

In [105]:
#push dfs to html files
mars_earth_df.to_html('mars_earth_comp.html', index=False)
mars_earth_df.to_html('mars_earth_comp.html', index=False)

In [ ]:
browser.quit()